<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Teacher management</title>
</head>
<body>
<div>
	<h1> Teacher List </h1>
	<a th:href="@{/createTeacher}" >Create Teacher</a>
	<table border="1" class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>ID</th>
				<th>User</th>
				<th>Password</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="teacher : ${teacherList}">
				<td th:text="${teacher.id}"></td>
				<td th:text="${teacher.user}"></td>
				<td th:text="${teacher.password}"></td>
				<td>
					<a th:href="@{/deleteTeacher/{id}(id=${teacher.id})}" >Delete</a>
					<a th:href="@{/updateTeacher/{id}(id=${teacher.id})}" >Update</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<a th:href="@{/adminOptions}">Go back</a>
</div>
</body>
</html>