<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Subject management</title>
</head>
<body>
<div>
	<h1>Subject Creation Page</h1>
		<hr>
		
		<form action="#" th:action="@{/saveSubject}" th:object="${newSubject}" method="POST">

			<input type="text" th:field="*{id}" placeholder="ID" >
			<input type="text" th:field="*{name}" placeholder="Name" >
			<input type="text" th:field="*{active}" placeholder="Active (true/false)" >
			<input type="text" th:field="*{totalHours}" placeholder="Hours" >
			
			<button type="submit" > Register</button>
		</form>
		
		<hr>
		
		<a th:href="@{/checkSubjects}"> Go Back</a>
</div>
</body>
</html>
