<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student management</title>
</head>
<body>
<div>
	<h1>Student Creation Page</h1>
		<hr>
		
		<form action="#" th:action="@{/saveStudent}" th:object="${newStudent}" method="POST">

			<input type="text" th:field="*{id}" placeholder="ID" >
			<input type="text" th:field="*{user}" placeholder="Name" >
			<input type="text" th:field="*{password}" placeholder="Password" >
			<input type="text" th:field="*{age}" placeholder="Age" >
			<input type="text" th:field="*{countryOfOrigin}" placeholder="Country" >
			
			<button type="submit" > Register</button>
		</form>
		
		<hr>
		
		<a th:href="@{/checkStudents}"> Go Back</a>
</div>
</body>
</html>
