<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Departments management</title>
</head>
<body>
<div>
	<h1>Teacher Creation Page</h1>
		<hr>
		<h2>Save Teacher</h2>
		
		<form action="#" th:action="@{/saveTeacher}" th:object="${newTeacher}" method="POST">

			<input type="text" th:field="*{id}" placeholder="ID" >

			<input type="text" th:field="*{user}" placeholder="Name" >
 
			<input type="text" th:field="*{password}" placeholder="Password" >
			
			<button type="submit" > Register</button>
		</form>
		
		<hr>
		
		<a th:href="@{/checkTeachers}"> Go Back</a>
</div>
</body>
</html>
