<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Subjects</title>
</head>
<body>
<div>
	<h1> Subject List </h1>
	<a th:href="@{/addSubject}" >Add Subject</a>
	<table border="1" class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="subject : ${subjectList}">
				<td th:text="${subject.id}"></td>
				<td th:text="${subject.name}"></td>
				<td>
					<a th:href="@{/deleteSubjectFromList/{id}(id=${subject.id})}" >Delete</a>
			</tr>
		</tbody>
	</table>
	
	<a th:href="@{/studentOptions}">Go back</a>
</div>
</body>
</html>